doctype html
html
  head
    link(rel='stylesheet', href='/stylesheet/create.css')
  body
    .form-style-6
      h1 Create Blog
      form(method='POST', action='/create')
        input(type='text', name='title', placeholder='Title')
        textarea(name='content', placeholder='Content Body')
        input(type='text', name='name', placeholder='Name')
        input(type='submit', value='Create')
